/* .container{
  display: flex;
} */
.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  overflow: scroll;
}

.sidebar.active~.home_content {
  width: calc(100% - 240px);
  left: 240px;
}